<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    This is edit user page

    <hr />
    <br />
    <a href="/user">Go Back</a>
    <br />
    <form action="/user/<%=user._id %>?_method=PUT" method="POST">
      <div>
        <label for="userName">UserName: </label>
        <input
          type="text"
          name="userName"
          id="userName"
          value="<%= user.userName %>"
        />
      </div>
      <input type="submit" value="Edit" />
    </form>
  </body>
</html>
